.donation-receipt h1 {
  text-align: center;
  border: solid 1px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.donation-receipt .donation-receipt-addresses {
  margin-top: 10px;
  margin-bottom: 10px;
}

.donation-receipt.not-shippable .donation-receipt-addresses #shipping-address {
  display: none;
}

.donation-receipt .donation-receipt-addresses {
  float: left;
  padding: 10px;
  width: 45%
}

.donation-receipt .donation-receipt-details .item-quantity {
  text-align: right;
}

.donation-receipt .donation-receipt-details .item-price {
  text-align: right;
  font-weight: bold;
}

.donation-receipt .donation-receipt-details .subtotal-title {
  font-style: italic;
}

.donation-receipt .donation-receipt-details .total-title {
  font-weight: bold;
}

.donation-receipt .donation-receipt-details .total-amount,
.donation-receipt .donation-receipt-details .subtotal-amount {
  text-align: right;
  font-weight: bold;
}

.donation-receipt .donation-receipt-details .total-amount {
  border-top: solid 1px;
}

.donation-receipt .donation-payment {
  padding: 10px;
  
}

.donation-receipt .donation-payment .donation-payment-details {
  float: right;
  padding: 10px;
  text-align: left;
}

.donation-receipt .donation-custom-response{
  border: 1px #494949 solid;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;
}
