.ec-inline-form {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ec-inline-form div.form-item, .ec-inline-form .form-submit {
  display: inline;
}

.ec-inline-form .form-submit {
  margin-top: 0;
  margin-bottom: 0;
}

thead th#amount-header-label {
  text-align: right;
}